<section class="login">
    <h2 class="login-title">用户登陆</h2>
    <form name="login_form" novalidate>
        <div class="account-input">
            <input placeholder="用户名" class="login-input" ng-model="user.name" required>
        </div>
        <div class="account-input">
            <div class="account-input" >
                <input placeholder="密码" type="password" name="password" ng-minlength="6" class="login-input" ng-model="user.password" required>
            </div>
        </div>
    </form>
    <div class="login-check">
        <div class="checkbox">
            <input type="checkbox">
            <label>记住我</label>
            <!--暂不开发-->
        </div>
        <a href="#/index/mykit/register">找回密码</a>
    </div>
    <button class="btn  login-btn" ng-click="login()"ng-class="{'btn-checked':check()}" ng-disabled="!check()">登陆</button>
    <div class="bottom-link">
        <a href="#/index/mykit/register">还没有账户,马上注册</a>
    </div>
</section>