<div class="wrap">
    <div class="header">
        <div class="logo"> <i class="  icon-github-alt icon-2x "></i></div>
        <div class="menu">
            <a class="item">关于</a>
            <a class="item">博客</a>
            <a class="item">帮助</a>
        </div>
        <h2 class="logo-name">MyKit</h2>
        <span class="vertical-line"></span>
        <div class="search-input">
            <div class="search-icon">
                <i class=" icon-search"></i>
            </div>
            <input type="text" placeholder="输入关键词">
        </div>
        <dropdown class="dropdown" ng-click="dropdown($event)"></dropdown>
    </div>
    <div class="siderbar" id="context-menu">
        <a class="avtor"><img  src="../assets/images/hk.jpg"></a>
        <a class="menu-item" ui-sref='index.user.todolist.all' ng-click="clickLink('all')" ng-class="{active: left_menu === 'all'}">
            <i class=" icon-list-alt icon-large"></i>
    <span class="menu-title">
        事务管理
    </span>
        </a>
        <a class="menu-item" ui-sref='index.user.financial.all' ng-click="clickLink('financial')" ng-class="{active: left_menu === 'financial'}">
            <i class="  icon-bar-chart icon-large"></i>
    <span class="menu-title">
        财务管理
    </span>
        </a>
        <a class="menu-item" ui-sref='index.user.contactlist.all' ng-click="clickLink('contactlist')" ng-class="{active: left_menu === 'contactlist'}">
            <i class="   icon-group icon-large"></i>
        <span class="menu-title">
        通讯录
    </span>
        </a>
        <a class="menu-item" ui-sref='index.user.account' ng-click="clickLink('account')" ng-class="{active: left_menu === 'account'}">
            <i class="  icon-dashboard icon-large"></i>
    <span class="menu-title">
        账户设置
    </span>
        </a>
    </div>
    <div ui-view id="container"></div>
</div>
<div id="mask-wrap" ng-click="closeMask($event)">
    <form class="create-form" id="edit-todo" ng-click="stopProgation($event)" >
        <i class=" icon-remove icon-large icon"ng-click="closeMask($event)"></i>
        <h1 class="create-form-title">编辑你的事项</h1>
        <hr>
        <input class="todos-create-title" placeholder="事项名称" ng-model="editTodo.title">
        <textarea placeholder="事项内容(其他选项待定)" class="todos-create-content" ng-model="editTodo.content"></textarea>
        <button class="btn btn-success btn-rounded finish-create" ng-click="updateTodo(editTodo)">完成编辑</button>
    </form>
    <form id="edit-contact" class="create-form" ng-click="stopProgation($event)">
        <i class=" icon-remove icon-large icon"ng-click="closeMask($event)"></i>
        <h1 class="create-form-title">修改好友信息</h1>
        <hr>
        <div class="create-avatar">
            <!--上传头像功能并没有写-->
            <img  src="../assets/images/hk.jpg">
            <input type="file">
            <button class="btn btn-default btn-rounded upload-avatar">上传头像</button>
        </div>
        <div class="base-info">
            <label>姓名:</label><input class="friend-name" placeholder="姓名"  ng-model="editFriend.name">
        </div>
        <div class="base-info">
            <label>生日:</label><input class="friend-birth" placeholder="生日" ng-model="editFriend.birth">
        </div>
        <div class="base-info">
            <label>电话:</label><input class="friend-tel" placeholder="电话" ng-model="editFriend.tel">
        </div>
        <div class="base-info">
            <label>邮件:</label><input class="friend-email" placeholder="邮件" ng-model="editFriend.email" >
        </div>
        <div class="base-info">
            <label>地址:</label><input class="friend-email" placeholder="地址" ng-model="editFriend.address">
        </div>
        <div class="remark">
            <label>备注:</label>
            <textarea class="friend-remark" placeholder="备注信息" ng-model="editFriend.remarks"></textarea>
        </div>
        <button class="btn btn-success btn-rounded finish-create add-friend" ng-click="updateFriend(editFriend)">完成修改</button>
    </form>
    <form id="contact-detail" class="create-form" ng-click="stopProgation($event)">
        <i class=" icon-remove icon-large icon"ng-click="closeMask($event)"></i>
        <h1 class="create-form-title">修改好友信息</h1>
        <hr>
        <div class="create-avatar">
            <!--上传头像功能并没有写-->
            <img  src="../assets/images/hk.jpg">
        </div>
        <div class="base-info">
            <label>姓名:</label><input class="friend-name" placeholder="姓名"  ng-model="editFriend.name" disabled="true">
        </div>
        <div class="base-info">
            <label>生日:</label><input class="friend-birth" placeholder="生日" ng-model="editFriend.birth" disabled="true">
        </div>
        <div class="base-info">
            <label>电话:</label><input class="friend-tel" placeholder="电话" ng-model="editFriend.tel" disabled="true">
        </div>
        <div class="base-info">
            <label>邮件:</label><input class="friend-email" placeholder="邮件" ng-model="editFriend.email" disabled="true">
        </div>
        <div class="base-info">
            <label>地址:</label><input class="friend-email" placeholder="地址" ng-model="editFriend.address" disabled="true">
        </div>
        <div class="remark">
            <label>备注:</label>
            <textarea class="friend-remark" placeholder="备注信息" ng-model="editFriend.remarks" disabled="true"></textarea>
        </div>
 </form>
</div>
