<div class="wrap">
    <div class="header">
        <div class="logo"> <i class="  icon-github-alt icon-2x "></i></div>
        <div class="menu">
            <a class="item">关于</a>
            <a class="item">博客</a>
            <a class="item">帮助</a>
        </div>
        <h2 class="logo-name">MyKit</h2>
        <span class="vertical-line"></span>
        <div class="search-input">
            <div class="search-icon">
                <i class=" icon-search"></i>
            </div>
            <input type="text" placeholder="输入关键词">
        </div>
        <dropdown class="dropdown" ng-click="dropdown($event)"></dropdown>
    </div>
    <div class="siderbar" id="context-menu">
        <a class="avtor"><img  src="../assets/images/hk.jpg"></a>
        <a class="menu-item" ui-sref='index.user.todolist.all' ng-click="clickLink('all')" ng-class="{active: left_menu === 'all'}">
            <i class=" icon-list-alt icon-large"></i>
    <span class="menu-title">
        事务管理
    </span>
        </a>
        <a class="menu-item" ui-sref='index.user.financial.all' ng-click="clickLink('financial')" ng-class="{active: left_menu === 'financial'}">
            <i class="  icon-bar-chart icon-large"></i>
    <span class="menu-title">
        财务管理
    </span>
        </a>
        <a class="menu-item" ui-sref='index.user.contactlist.all' ng-click="clickLink('contactlist')" ng-class="{active: left_menu === 'contactlist'}">
            <i class="   icon-group icon-large"></i>
        <span class="menu-title">
        通讯录
    </span>
        </a>
        <a class="menu-item" ui-sref='index.user.account' ng-click="clickLink('account')" ng-class="{active: left_menu === 'account'}">
            <i class="  icon-dashboard icon-large"></i>
    <span class="menu-title">
        账户管理
    </span>
        </a>
    </div>
    <div ui-view id="container"></div>
</div>
<div id="mask-wrap" ng-click="closeMask($event)">
    <form class="create-form" id="edit-todo" ng-click="stopProgation($event)">
        <i class=" icon-remove icon-large icon"ng-click="closeMask($event)"></i>
        <h1 class="create-form-title">编辑你的事项</h1>
        <hr>
        <input class="todos-create-title" placeholder="事项名称" ng-model="editTodo.title">
        <textarea placeholder="事项内容(其他选项待定)" class="todos-create-content" ng-model="editTodo.content"></textarea>
        <button class="btn btn-success btn-rounded finish-create" ng-click="updateTodo(editTodo)">完成编辑</button>
    </form>
</div>
