<section id="todo-main">
    <ul id="todo-list">
        <li >
            <div class="view">
                <input class="toggle" type="checkbox">
                <label ng-dblclick="TC.editItem(item)">123</label>
                <a class="destroy" ng-click="TC.removeItem($index)"></a>
            </div>
        </li>
        <li >
            <div class="view">
                <input class="toggle" type="checkbox">
                <label ng-dblclick="TC.editItem(item)">123</label>
                <a class="destroy" ng-click="TC.removeItem($index)"></a>
            </div>
        </li>
        <li >
            <div class="view">
                <input class="toggle" type="checkbox" >
                <label ng-dblclick="TC.editItem(item)">123</label>
                <a class="destroy" ng-click="TC.removeItem($index)"></a>
            </div>
        </li><li >
        <div class="view">
            <input class="toggle" type="checkbox">
            <label ng-dblclick="TC.editItem(item)">123</label>
            <a class="destroy" ng-click="TC.removeItem($index)"></a>
        </div>
    </li>

    </ul>
</section>
