<section class="todo-main">
    <div class="todo-main-title">
        <h1>正在进行的事项</h1>
    </div>
    <ul class="todo-list">
        <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed}">
            <div class="view">
                <input class="toggle" type="checkbox" ng-model="todo.completed" ng-click="toggleCompleted(todo)">
                <label >{{todo.title}}<span>{{todo.content}}</span></label>
                <i class=" icon-pencil" ng-click="enterEdit(todo)"></i>
                <i class="destroy  icon-trash" ng-click="deleteTodo(todo)"></i>
            </div>
        </li>
    </ul>
</section>