//variables
@import "variables.less";
@import "common.less";

html,body{
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei;
  background-color: #F7F6F2;
}

.header{
  width: 100%;
  font-size: (@font-size-base*1.25);
  line-height: (@length*2);
  text-align: center;
  height: (@length*3);
  margin: auto;
  padding: @padding-length 0;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #CCC;
  overflow: auto;
  a.item {
    color: rgba(0,0,0,.75);
    padding: (@padding-length*0.3) (@padding-length*0.5);
    margin: @margin-length @margin-length;
    text-align: center;
    font-size: (@font-size-base*0.875);
      &:hover{
        color: #00a8f3;
      }
  }
}

.menu{
  .menu;
  left: 70px;
}
.right-menu{
  .menu;
  fight:0;
}
.menu-register{
  text-decoration: none;
  .menu-btn(105px,#323A45,#fff);
  display: inline-block;
  line-height: 40px;
  &:hover,&:visited,&:focus{
   color: #fff;
  }
}
.menu-login{
  .menu-btn(10px, #fff,@menu-color);
  border-color:#eeeeee;

}
.vertical-line {
  position: absolute;
  top: 0;
  right: (@length*10.5);
  margin-top: (@margin-length*2);
  height: @length;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.logo{
  float: left;
  display: inline-block;
  width: 80px;
  height: 60px;
  text-align: center;
}
.logo-name {
  position: absolute;
  top: 50%;
  margin-top: -(@margin-length*2);
  right:  (@length*10.75);
  height:  (@length*2);
}
/*应用暂时不做屏幕宽度低于480px的响应式处理*/
.login{
  .index-form(480px,380px);
}
.register{
  .index-form(480px,480px);
}
.login-title{
  width:  (@length*20);
  margin: 0 0 (@margin-length*3);
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #323a45;
}
.login-input,.register-input {
  .index-input;
}
.login-check{
  margin-bottom: (@margin-length*1.5);
  color: @a-color;
  overflow: auto;
  font-size: 18px;
  a{
    color: @a-color;
    float: right;}
}
.checkbox{
  float: left;
  display: inline-block;
  text-align: center;
  outline: 0;
  vertical-align: middle;
  input{
    width: (@length*0.75);
    height: (@length*0.75);
  }
}
.login-btn,.register-btn {
  width: (@length*20);
  height:(@length*2.4);
  color: #fff;
  font-size: 24px;
  border-radius: 24px;
}

.bottom-link{
  margin-top: (@margin-length*1.5);
  text-align: center;
  font-size: 18px;
  a{
    color: @a-color;
  }
}
.account-input {
  position: relative;
  height: 68px;
}
span.error {
  white-space: nowrap;
  display:inline;
  position: absolute;
  left: 410px;
  top: 7px;
  padding: 7px 10px;
  background-color: #d95c5c;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}
span.error:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #d95c5c;
  border-width: 5px;
  margin-top: -5px;}

/* homepage */
#context-menu{
  position: absolute;
  top:60px;
  left: 0;
  width: 80px;
  height: 100%;
  overflow-y: auto;
  background-color: #333;

  .menu-item{
    display:block;
    padding: 20px 0;
    height: 80px;
    color: #fff;
    text-align: center;
     &:hover{
       background-color: rgba(255,255,255,.1);
     }
    i{
      display: block;
    }
    .menu-title{
      display: block;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
    }

  }
  .active{
    background-color: rgba(255,255,255,.15);
  }
}
#container{
  width: 100%;
  height: 100%;
  margin-left: 80px;
}
.inner-menu{
  position: absolute;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: #F7F6F2;
  border-right: 1px solid #CCC;
  article{
    margin: 5px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #666;
    word-wrap: break-word;
    word-break: normal;
  }
  a{
    cursor: pointer;
  }
  .active{
    background-color:rgba(0,0,0,0.03)
  }
}
.item-create{
  display: block;
  width: 100%;
  height: 36px;
  padding: 3px 25px;
  color: #F7F6F2;
  .btn{
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
  }
  &:hover{
    background-color:rgba(0,0,0,0.02);
  }
}
.inner-container{
  position: absolute;
  margin-left: 200px;
  padding: 30px 60px 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #F7F6F2;

}
.item-title{
  font-size: 18px;
  padding: 30px 25px 10px;
}
.inner-item{
  display: inline-block;
  padding: 10px 25px;
  margin-top: 5px;
  width: 100%;
  height: 36px;
  line-height: 16px;
  font-size: 14px;
  color: #666;
  white-space: nowrap;
  &:hover{
  background-color: rgba(0,0,0,0.02);
  }

  span{
    margin-left: 5px;
  }
}

/* todolist-create*/
hr{
  margin: 10px 0;
}
.create-form {
  margin: 0;
 padding: 10px 24px;
 width: 800px;
 background-color: #fff;
 border-radius: 5px;
}
.create-form-title{
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
  color: rgba(0,0,0,.7);

}
.todos-create-title {
  padding: 10px 16px;
  width: 752px;
  height: 40px;
  outline: 0;
  color: rgba(0,0,0,.7);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
}
.todos-create-content {
  margin: 10px 0;
  padding: 10px 16px;
  width: 752px;
  min-height: 180px;
  outline: 0;
  color: rgba(0,0,0,.7);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
}
.finish-create{
  height: 30px;
  text-align: center;
  font-size: 12px;
}