html,
body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: '微软雅黑', 'Helvetica Neue', sans-serif, SimHei;
  background-color: #eeeeee;
}
.header {
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  height: 60px;
  margin: auto;
  padding: 10px 0;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #CCC;
  overflow: auto;
}
.header a.item {
  color: rgba(0, 0, 0, 0.75);
  padding: 3px 5px;
  margin: 10px 10px;
  text-align: center;
  font-size: 14px;
}
.header a.item:hover {
  color: #00a8f3;
}
.menu {
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  left: 70px;
}
.right-menu {
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  left: 70px;
  fight: 0;
}
.menu-register {
  text-decoration: none;
  width: 80px;
  height: 40px;
  position: absolute;
  right: 105px;
  top: 50%;
  margin-top: -20px;
  text-align: center;
  padding: 0 10px;
  margin-left: 15px;
  background-color: #323A45;
  color: #fff;
  display: inline-block;
  line-height: 40px;
}
.menu-register:hover,
.menu-register:visited,
.menu-register:focus {
  color: #fff;
}
.menu-login {
  width: 80px;
  height: 40px;
  position: absolute;
  line-height: 40px;
  right: 10px;
  top: 50%;
  margin-top: -20px;
  text-align: center;
  display: inline-block;
  padding: 0 10px;
  margin-left: 15px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
  border-color: #eeeeee;
}
.vertical-line {
  position: absolute;
  top: 0;
  right: 210px;
  margin-top: 20px;
  height: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.logo {
  float: left;
  display: inline-block;
  width: 80px;
  height: 60px;
  text-align: center;
}
.logo-name {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 215px;
  height: 40px;
}
/*应用暂时不做屏幕宽度低于480px的响应式处理*/
.login {
  position: relative;
  z-index: 1001;
  width: 480px;
  margin: 50px auto;
  padding: 30px 40px 40px;
  border-radius: 10px;
  background-color: #fff;
}
.register {
  position: relative;
  z-index: 1001;
  width: 480px;
  margin: 50px auto;
  padding: 30px 40px 40px;
  border-radius: 10px;
  background-color: #fff;
}
.login-title {
  width: 400px;
  margin: 0 0 30px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #323a45;
}
.login-input,
.register-input {
  height: 48px;
  width: 400px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  border: 1px solid rgba(50, 58, 69, 0.2);
  border-radius: 5px;
}
.login-check {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  font-size: 18px;
}
.login-check a {
  color: rgba(0, 0, 0, 0.6);
  float: right;
}
.checkbox {
  float: left;
  display: inline-block;
  text-align: center;
  outline: 0;
  vertical-align: middle;
}
.checkbox input {
  width: 15px;
  height: 15px;
}
.login-btn,
.register-btn {
  width: 400px;
  height: 48px;
  color: #fff;
  font-size: 24px;
  border-radius: 24px;
}
.bottom-link {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}
.bottom-link a {
  color: rgba(0, 0, 0, 0.6);
}
.account-input {
  position: relative;
  height: 68px;
}
span.error {
  white-space: nowrap;
  display: inline;
  position: absolute;
  left: 410px;
  top: 7px;
  padding: 7px 10px;
  background-color: #d95c5c;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}
span.error:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #d95c5c;
  border-width: 5px;
  margin-top: -5px;
}
/* homepage */
#context-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 80px;
  height: 100%;
  overflow-y: auto;
  background-color: #333;
}
#context-menu .menu-item {
  display: block;
  padding: 20px 0;
  height: 80px;
  color: #fff;
  text-align: center;
}
#context-menu .menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#context-menu .menu-item i {
  display: block;
}
#context-menu .menu-item .menu-title {
  display: block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
#context-menu .active {
  background-color: rgba(255, 255, 255, 0.15);
}
#container {
  width: 100%;
  height: 100%;
  margin-left: 80px;
}
.inner-menu {
  position: absolute;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: #F7F6F2;
  border-right: 1px solid #CCC;
}
.inner-menu article {
  margin: 5px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #666;
  word-wrap: break-word;
  word-break: normal;
}
.inner-menu a {
  cursor: pointer;
}
.inner-menu .active {
  background-color: rgba(0, 0, 0, 0.03);
}
.item-create {
  display: block;
  width: 100%;
  height: 36px;
  padding: 3px 25px;
  color: #F7F6F2;
}
.item-create .btn {
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}
.item-create:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.inner-container {
  position: absolute;
  margin-left: 200px;
  padding: 30px 60px 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #F7F6F2;
}
.item-title {
  font-size: 18px;
  padding: 30px 25px 10px;
}
.inner-item {
  display: inline-block;
  padding: 10px 25px;
  margin-top: 5px;
  width: 100%;
  height: 36px;
  line-height: 16px;
  font-size: 14px;
  color: #666;
  white-space: nowrap;
}
.inner-item:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.inner-item span {
  margin-left: 5px;
}
/* todolist-create*/
hr {
  margin: 10px 0;
}
.create-form {
  margin: 0;
  padding: 10px 24px;
  width: 800px;
  background-color: #fff;
  border-radius: 5px;
}
.create-form-title {
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.todos-create-title {
  padding: 10px 16px;
  width: 752px;
  height: 40px;
  outline: 0;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.todos-create-content {
  margin: 10px 0;
  padding: 10px 16px;
  width: 752px;
  min-height: 180px;
  outline: 0;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.finish-create {
  height: 30px;
  text-align: center;
  font-size: 12px;
}
