html,
body {
  width: 100%;
  height: 100%;
  font-family: '微软雅黑', 'Helvetica Neue', sans-serif, SimHei;
  background-color: #eeeeee;
}
#index {
  width: 100%;
  height: 100%;
}
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  height: 60px;
  margin: auto;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #CCC;
}
.header a.item {
  color: rgba(0, 0, 0, 0.75);
  padding: 3px 5px;
  margin: 10px 10px;
  text-align: center;
  font-size: 14px;
  vertical-align: top;
}
.header a.item:hover {
  color: #00a8f3;
}
.menu {
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  padding: 0;
  left: 70px;
}
.right-menu {
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  padding: 0;
  left: 70px;
  right: 0;
}
.menu-register {
  text-decoration: none;
  width: 80px;
  height: 40px;
  position: absolute;
  right: 105px;
  top: 50%;
  margin-top: -20px;
  text-align: center;
  padding: 0 10px;
  margin-left: 15px;
  background-color: #323A45;
  color: #fff;
  display: inline-block;
  line-height: 40px;
}
.menu-register:hover,
.menu-register:visited,
.menu-register:focus {
  color: #fff;
}
.menu-login {
  width: 80px;
  height: 40px;
  position: absolute;
  line-height: 40px;
  right: 10px;
  top: 50%;
  margin-top: -20px;
  text-align: center;
  display: inline-block;
  padding: 0 10px;
  margin-left: 15px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
  border-color: #eeeeee;
}
.vertical-line {
  position: absolute;
  top: 0;
  right: 265px;
  margin-top: 20px;
  height: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.logo {
  float: left;
  display: inline-block;
  width: 80px;
  height: 60px;
  text-align: center;
}
.logo-name {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 280px;
  height: 40px;
}
.search-input {
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  top: 50%;
  margin-top: -14px;
  right: 60px;
  width: 190px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.search-input input {
  padding: 0;
  display: block;
  width: 120px ;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  border: 0;
  outline: none;
}
.search-icon {
  display: inline-block;
  float: left;
  margin-right: 15px;
  height: 26px;
  line-height: 26px;
  color: #b1b1b1;
}
/*应用暂时不做屏幕宽度低于480px的响应式处理*/
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  z-index: 1001;
  width: 480px;
  margin-left: -240px;
  padding: 30px 40px 40px;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
}
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  z-index: 1001;
  width: 480px;
  margin-left: -240px;
  padding: 30px 40px 40px;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
}
.login-title {
  width: 400px;
  margin: 0 0 30px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #323a45;
}
.login-input,
.register-input {
  height: 48px;
  width: 400px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  border: 1px solid rgba(50, 58, 69, 0.2);
  border-radius: 5px;
}
.login-check {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  font-size: 18px;
}
.login-check a {
  color: rgba(0, 0, 0, 0.6);
  float: right;
}
.checkbox {
  float: left;
  display: inline-block;
  text-align: center;
  outline: 0;
  vertical-align: middle;
}
.checkbox input {
  width: 15px;
  height: 15px;
}
.login-btn,
.register-btn {
  width: 400px;
  height: 48px;
  color: #fff;
  font-size: 24px;
  border-radius: 24px;
}
.bottom-link {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}
.bottom-link a {
  color: rgba(0, 0, 0, 0.6);
}
.account-input {
  position: relative;
  height: 68px;
}
span.error {
  white-space: nowrap;
  display: inline;
  position: absolute;
  left: 410px;
  top: 7px;
  padding: 7px 10px;
  background-color: #d95c5c;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}
span.error:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #d95c5c;
  border-width: 5px;
  margin-top: -5px;
}
.dropdown {
  position: absolute;
  width: 60px;
  right: 0;
  color: #000;
  cursor: pointer;
}
.dropdown a {
  color: #000000;
}
.header-dropdown {
  padding: 0 ;
  display: block;
  top: 48px;
  left: auto;
  right: -20px;
  background: #fff;
  border-top: 0;
}
.header-dropdown li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.header-dropdown .last {
  border-bottom: 0;
}
.header-dropdown i {
  margin-right: 10px;
}
/* homepage */
#context-menu {
  position: fixed;
  z-index: 1000;
  top: 60px;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: #333;
}
#context-menu .menu-item {
  display: block;
  padding: 20px 0;
  height: 80px;
  color: #fff;
  text-align: center;
}
#context-menu .menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#context-menu .menu-item i {
  display: block;
}
#context-menu .menu-item .menu-title {
  display: block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
#context-menu .avtor {
  display: block;
  padding: 10px 5px 0 ;
  height: 80px;
  color: #fff;
  text-align: center;
}
#context-menu .avtor img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-transition: all 1.85s ease-in-out;
  -moz-transition: all 1.85s ease-in-out;
  transition: all 1.85s ease-in-out;
}
#context-menu .avtor:hover img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#context-menu .active {
  background-color: rgba(255, 255, 255, 0.15);
}
#container {
  position: absolute;
  padding-left: 80px;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.inner-menu {
  float: left;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: #F7F6F2;
  border-right: 1px solid #CCC;
}
.inner-menu article {
  margin: 5px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #666;
  word-wrap: break-word;
  word-break: normal;
}
.inner-menu a {
  cursor: pointer;
}
.inner-menu .active {
  background-color: rgba(0, 0, 0, 0.03);
}
.item-create {
  display: block;
  width: 100%;
  height: 36px;
  padding: 3px 25px;
  color: #F7F6F2;
}
.item-create .btn {
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}
.item-create:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.wrap {
  overflow: auto;
  height: 100%;
}
.inner-container {
  margin-left: 200px;
  padding: 30px 60px 0;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #F7F6F2;
}
.item-title {
  font-size: 18px;
  padding: 30px 25px 10px;
}
.inner-item {
  display: inline-block;
  padding: 10px 25px;
  margin-top: 5px;
  width: 100%;
  height: 36px;
  line-height: 16px;
  font-size: 14px;
  color: #666;
  white-space: nowrap;
}
.inner-item:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.inner-item span {
  margin-left: 5px;
}
/* todolist-create*/
hr {
  margin: 10px 0;
}
.create-form {
  margin: 0 ;
  padding: 10px 24px;
  width: 800px;
  background-color: #fff;
  border-radius: 5px;
}
.create-form-title {
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.todos-create-title {
  padding: 10px 16px;
  width: 752px;
  height: 40px;
  outline: 0;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.todos-create-content {
  margin: 10px 0;
  padding: 10px 16px;
  width: 752px;
  max-width: 752px;
  min-height: 180px;
  outline: 0;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.finish-create {
  height: 30px;
  text-align: center;
  font-size: 12px;
}
.todo-main {
  position: relative;
  z-index: 2;
}
.todo-main-title {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.todo-main-title h1 {
  font-size: 18px;
}
.todo-list {
  margin: 0 10px;
  padding: 0;
  list-style: none;
}
.todo-list li {
  position: relative;
  font-size: 18px;
  background: #fff;
  border-bottom: 1px solid #ededed;
}
.todo-list li:hover i {
  display: block;
}
.todo-list li:last-child {
  border-bottom: none;
}
.todo-list li .toggle {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 6px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
.todo-list li .toggle:after {
  position: absolute;
  top: 50%;
  padding: 0;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}
.todo-list li .toggle:checked:after {
  position: absolute;
  top: 50%;
  width: 40px;
  height: auto;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}
.todo-list li label {
  position: relative;
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: inline-block;
  vertical-align: middle;
  transition: color 0.4s;
}
.todo-list li span {
  display: inline-block;
  margin-left: 20px;
  width: 180px;
  height: 17px;
  font-size: 12px;
  white-space: nowrap;
  vertical-align: middle;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}
.todo-list li.completed span {
  display: none;
}
.todo-list li.completed :hover i {
  display: none;
}
.todo-list li.completed :hover .destroy {
  display: block;
}
.todo-list li i {
  display: none;
  position: absolute;
  top: 50%;
  right: 50px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  line-height: 20px;
  vertical-align: top;
  color: #cc9a9a;
  background: none;
  border: 0;
  transition: color 0.2s ease-out;
}
.todo-list li i:hover {
  color: #af5b5e;
}
.todo-list li .destroy {
  right: 10px;
}
#mask-wrap {
  position: absolute;
  display: none;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
}
#edit-todo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
