<form class="create-form">
    <!--该功能只出样式,不在毕设初期设计范围内,后期迭代再考虑-->
    <h1 class="create-form-title">个人设置</h1>
    <hr>
    <div class="create-avatar">
        <!--上传头像功能并没有写-->
        <img  src="../assets/images/hk.jpg">
        <input type="file">
        <button class="btn btn-default btn-rounded upload-avatar">上传头像</button>
    </div>
    <div class="base-info">
        <label>账户:</label><input class="friend-name" placeholder="账户名" ng-model="user.name">
    </div>
    <div class="base-info">
        <label>昵称:</label><input class="friend-name" placeholder="昵称">
    </div>
    <div class="base-info">
        <label>生日:</label><input class="friend-birth" placeholder="生日" >
    </div>
    <div class="base-info">
        <label>电话:</label><input class="friend-tel" placeholder="电话" >
    </div>
    <div class="base-info">
        <label>邮件:</label><input class="friend-email" placeholder="邮件" ng-model="user.email">
    </div>
    <div class="base-info">
        <label>地址:</label><input class="friend-email" placeholder="地址" >
    </div>
    <div class="remark">
        <label>座右铭:</label>
        <textarea class="friend-remark" placeholder="座右铭" ></textarea>
    </div>
    <button class="btn btn-success btn-rounded finish-create add-friend" ng-click="addFriends()">提交修改</button>
</form>